<mailbox inline-template>
    <div class="mailbox modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        {{ trans('messages.mailbox') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="{active: isMissionLogSelected}">
                            <a href="#" @click.prevent="selectMissionLog()">
                                {{ trans('messages.mission_log.plural') }}
                            </a>
                        </li>
                        <li :class="{active: isBattleLogSelected}">
                            <a href="#" @click.prevent="selectBattleLog()">
                                {{ trans('messages.battle_log.plural') }}
                            </a>
                        </li>
                    </ul>
                </div>

                {% include 'partials.mission-log' %}
                {% include 'partials.battle-log' %}
            </div>
        </div>
    </div>
</mailbox>
