<div v-if="hasPrev || hasNext" class="modal-footer d-flex justify-content-between">
    <button class="btn btn-primary"
            type="button"
            @click.prevent="prevPage()"
            :disabled="!hasPrev">
        <i class="fas fa-arrow-left"></i>
    </button>
    <button class="btn btn-primary"
            type="button"
            @click.prevent="nextPage()"
            :disabled="!hasNext">
        <i class="fas fa-arrow-right"></i>
    </button>
</div>
