<whats-new id="2od67dvham" inline-template>
    <div class="whats-new modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        {{ trans('messages.whats_new.title') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive"
                         src="{{ asset('images/og-website.png') }}"
                         alt="{{ trans('messages.whats_new.title') }}">
                    <h3>
                        Beta 1 released
                    </h3>
                    <ul>
                        <li>
                            Added an expedition system with global unit storage
                        </li>
                        <li>
                            Added the sum button to transport and movement
                        </li>
                        <li>
                            Added the PvE and PvP leaderboard
                        </li>
                        <li>
                            Added the global JS error handling
                        </li>
                        <li>
                            Added the shield system based on Solarion
                        </li>
                        <li>
                            Added the starter protection
                        </li>
                        <li>
                            Added attack monitor and radar
                        </li>
                        <li>
                            Added private messages
                        </li>
                        <li>
                            Displayed the positions of units on starmap
                        </li>
                        <li>
                            Enhanced the mission system
                        </li>
                        <li>
                            Merged the capital and mothership storage
                        </li>
                        <li>
                            Showed the numbers in tooltips
                        </li>
                    </ul>
                    The roadmap is available
                    <a href="https://trello.com/b/vWfdm6AA/galaxy-of-drones-online" target="_blank">on Trello</a>.
                </div>
            </div>
        </div>
    </div>
</whats-new>
