/node_modules
/public/hot
/public/tile
/public/storage
/storage/clockwork
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
laravel-echo-server.json
npm-debug.log
yarn-error.log
_ide_helper.php
.env
.php_cs.cache
