/node_modules
/public/css
/public/favicon.ico
/public/hot
/public/images
/public/js
/public/mix-manifest.json
/public/tile
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
_ide_helper.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
