<div v-if="isAttackType" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
        <h4 class="modal-title">
            {{ trans('messages.movement.attack') }}
        </h4>
    </div>
    {% include 'site.starmap.time' %}
    <div class="modal-body separator">
        <div class="item-input-row">
            <div class="col-xs-12 col-sm-4 col-md-3" v-for="unit in fighterUnits">
                <span class="item item-sm"
                      :class="unit | item('unit')"
                      :title="unit.name"
                      :data-content="unit.description"
                      v-popover="{placement: 'top', trigger: 'hover'}">
                    {{ vue('unit.name') }}
                </span>
                <div class="form-group">
                    <input class="form-control"
                           type="number"
                           min="1"
                           :max="unit.quantity"
                           :placeholder="unit.quantity | bracket"
                           v-model.number="quantity[unit.id]">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body separator">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-danger btn-block" :disabled="!hasFighterUnits">
                    {{ trans('messages.movement.attack') }}
                </button>
            </div>
        </div>
    </div>
</div>
