<move inline-template>
    <div class="move modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            {% include 'site.starmap.scout' %}
            {% include 'site.starmap.attack' %}
            {% include 'site.starmap.occupy' %}
            {% include 'site.starmap.support' %}
            {% include 'site.starmap.transport' %}
        </div>
    </div>
</move>
