<move :types="{{ {
          'scout': constant('Koodilab\\Models\\Movement::TYPE_SCOUT'),
          'attack': constant('Koodilab\\Models\\Movement::TYPE_ATTACK'),
          'occupy': constant('Koodilab\\Models\\Movement::TYPE_OCCUPY'),
          'support': constant('Koodilab\\Models\\Movement::TYPE_SUPPORT'),
          'transport': constant('Koodilab\\Models\\Movement::TYPE_TRANSPORT')
      }|json_encode }}"
      :unit-types="{{ {
          'transporter': constant('Koodilab\\Models\\Unit::TYPE_TRANSPORTER'),
          'scout': constant('Koodilab\\Models\\Unit::TYPE_SCOUT'),
          'fighter': constant('Koodilab\\Models\\Unit::TYPE_FIGHTER'),
          'heavyFighter': constant('Koodilab\\Models\\Unit::TYPE_HEAVY_FIGHTER'),
          'settler': constant('Koodilab\\Models\\Unit::TYPE_SETTLER')
      }|json_encode }}"
      :urls="{{ {
          'scout': route('api_movement_scout', '__planet__'),
          'attack': route('home'),
          'occupy': route('home'),
          'support': route('home'),
          'transport': route('home')
      }|json_encode }}" inline-template>
    <div class="move modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            {% include 'site.starmap.scout' %}
            {% include 'site.starmap.attack' %}
            {% include 'site.starmap.occupy' %}
            {% include 'site.starmap.support' %}
            {% include 'site.starmap.transport' %}
        </div>
    </div>
</move>
