<div v-if="type == {{ constant('Koodilab\\Models\\Movement::TYPE_OCCUPY') }}" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
        <h4 class="modal-title">
            {{ trans('messages.movement.occupy') }}
        </h4>
    </div>
    <div class="modal-body">

    </div>
</div>
