{% extends 'site.layouts.base' %}

{% block body %}
    <section id="site" class="container-site">
        <sidebar inline-template>
            <div class="sidebar" :class="{active: isActive}">
                <div class="sidebar-content"></div>
                <div class="sidebar-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#" @click.prevent="toggle()">
                                <i :class="{'icon-nav': !isActive, 'icon-close': isActive}"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-surface"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-starmap"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mothership"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-trophy"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </sidebar>
        {% block content %}{% endblock %}
    </section>
{% endblock %}
