{% extends 'site.layouts.base' %}

{% block body %}
    <section id="site" class="container-site">
        {% include 'site.partials.sidebar' %}
        {% include 'site.partials.player' %}

        {% block content %}{% endblock %}

        {% include 'site.partials.mailbox' %}
        {% include 'site.partials.mothership' %}
        {% include 'site.partials.profile' %}
        {% include 'site.partials.setting' %}
        {% include 'site.partials.trophy' %}
    </section>
{% endblock %}
