{% extends 'site.layouts.base' %}

{% block body %}
    <section id="site" class="container-site">
        <sidebar inline-template>
            <div class="sidebar" :class="{active: isActive}">
                <div class="sidebar-content">

                </div>
                <div class="sidebar-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#" @click.prevent="toggle()">
                                <i :class="{'icon-nav': !isActive, 'icon-close': isActive}"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-surface"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-starmap"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mothership"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-trophy"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </sidebar>
        <player inline-template>
            <div class="player">
                <div class="player-info">
                    <div class="player-left">
                        <img class="player-avatar" src="{{ auth_user().gravatar({'s': 100}) }}" alt="{{ auth_user().username }}">
                        <div class="player-level">
                            <i class="icon-star"></i>
                            {{ auth_user().level }}
                        </div>
                    </div>
                    <div class="player-right">
                        <div class="player-nav">
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <a href="#">
                                        <i class="icon-envelope"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ route('logout') }}">
                                        <i class="icon-power-off"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="player-progress">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player-energy">
                    <i class="icon-energy"></i>
                    36
                </div>
            </div>
        </player>
        {% block content %}{% endblock %}
    </section>
{% endblock %}
