<navigation inline-template>
    <ul class="navigation">
        <li>
            <a href="#" @click.prevent="prev()">
                <i class="fas fa-arrow-up"></i>
            </a>
        </li>
        <li>
            <a href="#" @click.prevent="next()">
                <i class="fas fa-arrow-down"></i>
            </a>
        </li>
    </ul>
</navigation>
