<scout :type="{{ constant('Koodilab\\Models\\Building::TYPE_SCOUT') }}"
          :building="building"
          :grid="grid"
          url="{{ route('api_scout', '__grid__') }}" inline-template>
    <div v-if="isEnabled" class="scout">
        {% include 'partials.movement' %}
    </div>
</scout>
