<trader :type="{{ constant('Koodilab\\Models\\Building::TYPE_TRADER') }}"
        :building="building"
        :grid="grid"
        :close="close"
        url="{{ route('api_planet_capital') }}" inline-template>
    <div v-if="isEnabled" class="trader">
        <div class="modal-body">
            <ul class="nav nav-tabs nav-justified">
                <li :class="{active: isSelectedTab('trade')}">
                    <a href="#" @click.prevent="selectTab('trade')">
                        {{ trans('messages.resource.singular') }}
                    </a>
                </li>
                <li :class="{active: isSelectedTab('patrol')}">
                    <a href="#" @click.prevent="selectTab('patrol')">
                        {{ trans('messages.unit.singular') }}
                    </a>
                </li>
            </ul>
        </div>

        {% include 'surface.trade' %}
        {% include 'surface.patrol' %}
    </div>
</trader>
