<upgrade-all url="{{ route('api_upgrade_store_all') }}" inline-template>
    <div class="upgrade-all modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ trans('messages.upgrade.all') }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body text-center">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"
                            type="button"
                            @click="upgradeAll()">
                        {{ trans('messages.upgrade.all') }}
                    </button>
                    <button class="btn btn-warning"
                            type="button"
                            @click="close()">
                        {{ trans('messages.cancel') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</upgrade-all>
