.attribute {
    background: $attribute-bg;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-align: center;

    h6 {
        font-size: .75rem;
        margin-top: 10px;
    }
    h5 {
        color: $white;
    }
    a {
        text-decoration: none;
        transition: $base-transition;
    }
    &-row {
        @include make-row(10px);

        &.separator {
            margin-bottom: 30px;
        }
        .sidebar &:last-child .attribute {
            margin-bottom: 0;
        }
        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
