.card {
    &-header {
        border-color: $card-inner-border-color;

        .card-title {
            color: $white;
            margin: 0;
        }
        i {
            margin: 0 5px 0 0;
        }
    }
    &-footer {
        border-color: $card-inner-border-color;

        a {
            text-decoration: none;
            transition: $base-transition;
        }
    }
}
