.card {
    &-header {
        border-color: $blue-dark;
    }
    &-title {
        color: $white;
        margin: .4375rem 0;

        i {
            margin: 0 5px 0 0;
        }
    }
    &-body p a {
        text-decoration: none;
        transition: $base-transition;
    }
    &-footer {
        border-color: $blue-dark;

        a {
            text-decoration: none;
            transition: $base-transition;
        }
    }
}
