.card {
    &-header {
        border-color: $card-inner-border-color;

        i {
            margin: 0 5px 0 0;
        }
    }
    &-title {
        color: $white;
        margin: .75rem 0;
    }
    &-footer {
        border-color: $card-inner-border-color;
        padding: $card-spacer-x $card-spacer-x;

        a {
            text-decoration: none;
            transition: $base-transition;
        }
    }
}
