label.required:after {
    color: $primary;
    content: ' *';
}

select.form-control {
    appearance: none;
    background: $input-bg url('../images/select-arrow.svg?v=#{$cache-buster}') 94% center no-repeat;
    background-size: 12px;
}
