@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?23e6lq');
  src:  url('#{$icomoon-font-path}/icomoon.eot?23e6lq#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.ttf?23e6lq') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff?23e6lq') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg?23e6lq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-movement-unit {
  &:before {
    content: $icon-movement-unit;
  }
}
.icon-sum {
  &:before {
    content: $icon-sum;
  }
}
.icon-solarion {
  &:before {
    content: $icon-solarion;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-nav {
  &:before {
    content: $icon-nav;
  }
}
.icon-login {
  &:before {
    content: $icon-login;
  }
}
.icon-trophy {
  &:before {
    content: $icon-trophy;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-surface {
  &:before {
    content: $icon-surface;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-supply {
  &:before {
    content: $icon-supply;
  }
}
.icon-xp {
  &:before {
    content: $icon-xp;
  }
}
.icon-energy {
  &:before {
    content: $icon-energy;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-mothership {
  &:before {
    content: $icon-mothership;
  }
}
.icon-power-off {
  &:before {
    content: $icon-power-off;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-starmap {
  &:before {
    content: $icon-starmap;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
