.navigation {
    @include list-unstyled;
    background: $card-bg;
    border: 1px solid $primary;
    left: 70px;
    position: absolute;
    top: 10px;
    z-index: $zindex-navigation;

    > li > a {
        color: $primary;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        transition: $base-transition;
        width: 30px;

        @include hover-focus {
            color: $white;
            text-shadow: 0 0 15px $glow-color;
        }
        &:first-child {
            border-bottom: 1px solid $blue-dark;
        }
    }
}
