// Custom

$attribute-bg: #19222f;
$base-bg: rgba(#0e141c, .95);
$base-transition: ease .2s;
$blue-dark: #243851;
$blue-darker: #19222f;
$cache-buster: 'A1r5xayaunisxcCDtuNi';
$glow-color: rgba(255, 255, 255, .6);
$zindex-player: 1030;
$zindex-sidebar: 1030;

// Bootstrap

$blue: #4183d7;
$red: #f84646;
$yellow: #ebb237;
$green: #29bc94;

$body-bg: #0b0e14;
$body-color: #b6bfca;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$card-bg: $base-bg;
$card-border-color: $blue;
$card-cap-bg: rgba(0, 0, 0, 0);
$card-spacer-x: 1.75rem;
$card-spacer-y: 1.25rem;
$close-color: $body-color;
$close-text-shadow: 0 1px 0 #000;
$font-family-base: 'Exo 2', sans-serif;
$input-bg: $blue-dark;
$input-border-color: lighten($input-bg, 10%);
$input-color: #fff;
$input-disabled-bg: $blue-darker;
$input-focus-border-color: $blue;
$input-focus-box-shadow: 0;
$input-placeholder-color: darken($body-color, 20%);
$link-color: $green;
$modal-backdrop-opacity: .7;
$modal-content-bg: $base-bg;
$modal-content-border-color: $blue;
$modal-header-border-color: $blue-dark;
$nav-link-disabled-color: darken($body-color, 40%);
$nav-tabs-border-color: $blue;
$nav-tabs-link-active-bg: $base-bg;
$nav-tabs-link-active-border-color: $blue $blue $nav-tabs-link-active-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-hover-border-color: $blue $blue $blue;
$popover-bg: $blue-darker;
$popover-border-color: $blue;
$progress-bg: #243141;
