$icomoon-font-path: "../../fonts" !default;

$icon-close: "\e91d";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e904";
$icon-create: "\e905";
$icon-delete: "\e909";
$icon-edit: "\e90b";
$icon-nav: "\e90d";
$icon-search: "\e913";
$icon-sort-order: "\e91b";
$icon-login: "\e91c";
$icon-trophy: "\e91a";
$icon-more: "\e919";
$icon-envelope: "\e906";
$icon-surface: "\e912";
$icon-arrow-left: "\e917";
$icon-arrow-right: "\e918";
$icon-supply: "\e916";
$icon-xp: "\e915";
$icon-energy: "\e903";
$icon-time: "\e900";
$icon-cog: "\e902";
$icon-eye: "\e907";
$icon-globe: "\e908";
$icon-home: "\e90a";
$icon-mothership: "\e90c";
$icon-power-off: "\e90e";
$icon-question-circle: "\e90f";
$icon-star: "\e910";
$icon-starmap: "\e911";
$icon-user: "\e914";
