.content {
    height: 100vh;

    &-heading {
        @include clearfix;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, .25);
        height: $content-heading-height;
        padding: 15px;
    }
    &-nav {
        @include list-unstyled;
        float: left;
        margin-left: -15px;

        &-right {
            float: right;
        }
        > li {
            display: inline-block;
            padding-left: 15px;
            vertical-align: middle;

            > a {
                color: $text-color;
                font-size: 26px;
                line-height: 48px;
                text-decoration: none;
                transition: ease .2s;

                &:hover {
                    color: #718093;
                }
            }
            .img-gravatar {
                height: 48px;
                width: 48px;
            }
        }
    }
    &-body {
        height: calc(100vh - #{$content-heading-height});
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;
        -webkit-overflow-scrolling: touch;
    }
}
