.login {
    &-heading {
        color: $brand-primary !important;
        font-size: 48px;
        margin: $grid-gutter-width 0;

        span {
            font-size: 18px;
        }
    }
    .panel {
        margin: 0 auto;
        max-width: 480px;
    }
}
