.logo {
    color: #fff;
    display: block;
    font-size: 36px;
    line-height: 1;
    padding: 8px 0 0 0;
    text-align: center;
    text-decoration: none;

    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    span {
        color: $brand-info;
        display: block;
        font-size: 16px;
        letter-spacing: 10px;
        margin: 10px 0 0 10px;
        text-transform: uppercase;
    }
}
