.main {
    height: 100vh;
    overflow: hidden;

    &-body {
        height: 100vh;
        left: $sidebar-width;
        position: relative;
        transition: ease .2s;

        &.active {
            left: 0;
        }
    }
}

@media (min-width: $grid-float-breakpoint) {
    .main {
        &-body {
            left: 0;
            padding-left: 0;

            &.active {
                padding-left: $sidebar-width;

                .sidebar {
                    left: 0;
                }
            }
        }
    }
}
