.panel {
    position: relative;

    .indicator {
        color: $brand-success;
        font-size: 36px;
        left: 50%;
        line-height: 1;
        margin: 0 0 0 -18px;
        position: absolute;
        top: 110px;
        z-index: 9999;
    }
    .indicator-overlay {
        background: rgba(255, 255, 255, .75);
        bottom: 0;
        cursor: progress;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
    }
    &-title i {
        margin: 0 5px 0 0;
    }
    &-heading-nav {
        @include clearfix;

        .panel-title {
            float: left;
            line-height: 39px;
        }
        .nav {
            float: right;

            a {
                outline: none;
                transition: ease .2s;
            }
        }
    }
    &-heading-btn {
        @include clearfix;

        .panel-title {
            float: left;
            line-height: 34px;
        }
        .panel-btn {
            float: right;
        }
    }
    &.overview {
        min-height: 251px;

        .panel-body {
            padding-bottom: 35px;
            padding-top: 35px;
            text-align: center;

            .success {
                color: $brand-success;
            }
            .info {
                color: $brand-info;
            }
            .danger {
                color: $brand-danger;
            }
        }
    }
}
