@import '../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar';

.ps__thumb-x {
    background-color: $sidebar-link-color;
}

.ps__thumb-y {
    background-color: $sidebar-link-color;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
    background-color: $sidebar-link-color;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: $sidebar-link-color;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
    background-color: darken($brand-primary, 15%);
}
