@import url(//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,latin-ext);

[v-cloak] {
    display: none;
}

body {
    min-height: 320px;
    min-width: 320px;
}

.breadcrumb {
    border: 1px solid $panel-default-border;

    a {
        text-decoration: none;
        transition: ease .2s;
    }
}

.btn {
    transition: ease .2s;
    outline: none !important;
    padding-left: 20px;
    padding-right: 20px;

    &.btn-lg {
        padding-left: 24px;
        padding-right: 24px;
    }
    &.btn-sm {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.img-gravatar {
    border-radius: 50%;
}

.caret.asc {
    border-top: 0;
    border-bottom: $caret-width-base solid;
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.icon-spin {
    animation: icon-spin 2s infinite linear;
    display: inline-block;
}
