.table-view {
    min-height: 280px;

    .search {
        padding: 3px 8px 3px 0;

        input {
            min-width: 220px;
        }
    }
    .table {
        td {
            vertical-align: middle;
        }
        tbody tr {
            cursor: default;
        }
        a {
            text-decoration: none;
            transition: ease .2s;

            &.disabled {
                color: $text-color;
                cursor: $cursor-disabled;
            }
        }
        input {
            margin: 0 10px 0 0;
        }
        .action-nav {
            text-align: right;

            a {
                margin: 0 0 0 10px;
            }
        }
        .img-gravatar {
            height: 32px;
            margin-right: 10px;
            width: 32px;
        }
        .no-items {
            text-align: center;
        }
     }
    .panel-footer {
        @include clearfix;

        .total {
            float: left;
            line-height: 34px;
        }
        .pagination {
            float: right;
            margin: 0;
        }
    }
}
