.modal {
    &.mailbox .battle-log,
    &.mailbox .message-log {
        a {
            text-decoration: none;
            transition: ease .2s;
        }
        .btn {
            margin-top: $grid-gutter-width / 3 * 2;
        }
    }
    &.profile .col-md-3 .btn,
    &.mothership .radar .btn,
    &.mothership .shield-item .btn {
        margin-top: $grid-gutter-width / 3 * 2;
    }
    &.mothership .armory-summary .item,
    &.mothership .cargo-summary .item {
        margin: 0 $grid-gutter-width / 3 * 2;
    }
    &.whats-new a {
        text-decoration: none;
        transition: ease .2s;
    }
    &-body .row .item-sm {
        margin-right: $grid-gutter-width / 6;
    }
    &-footer {
        &-btn-group {
            padding-bottom: $grid-gutter-width / 3;
        }
        .pager {
            margin: 0;

            a {
                color: #fff;
                transition: ease .2s;
            }
            .disabled {
                > a,
                > a:hover,
                > a:focus,
                > span {
                    color: $pager-disabled-color;
                    background-color: $brand-primary;
                }
            }
        }
    }
    .nav-tabs > li {
        > a {
            color: $brand-info;
            transition: ease .2s;

            &:focus,
            &:hover {
                color: $nav-tabs-active-link-hover-color;
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $nav-tabs-active-link-hover-color;
            }
        }
    }
    .separator:not(.attribute-row) {
        border-top: 1px solid $modal-header-border-color;
    }
    .table-responsive {
        margin-bottom: 0;
    }
    .table {
        margin-bottom: 0;

        a {
            text-decoration: none;
            transition: ease .2s;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .modal {
        &.setting .modal-dialog {
            max-width: 360px;
        }
    }
}
