@import '~perfect-scrollbar/css/perfect-scrollbar';

.ps__thumb-x {
    background-color: #4183d7;
}

.ps__thumb-y {
    background-color: #4183d7;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
    background-color: #4183d7;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: #4183d7;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
    background-color: #243141;
}
