@import url(//fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=latin,latin-ext);

[v-cloak] {
    display: none;
}

body {
    min-height: 320px;
    min-width: 320px;
}

.btn {
    transition: ease .2s;
}

.close {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: ease .2s;
}

.control-label.required:after {
    color: $brand-info;
    content: ' *';
}

select.form-control {
    appearance: none;
    background: $input-bg url('../../images/select-arrow.svg?v=#{$cache-buster}') 94% center no-repeat;
    background-size: 12px;
}

.highlight-success {
    color: $brand-success !important;
}

.highlight-danger {
    color: $brand-danger !important;
}

.highlight-warning {
    color: $brand-warning !important;
}

.panel {
    .panel-heading {
        border-color: $brand-primary;

        i {
            margin-right: $grid-gutter-width / 3;
        }
    }
    .panel-footer {
        p:last-child {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            transition: ease .2s;
        }
    }
}

.popover {
    text-align: center;
}

.container-app {
    background: url('../../images/starmap-bg.png?v=#{$cache-buster}') center top no-repeat;
    height: 100vh;
    margin: 0 auto;
    max-height: 1080px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;

    &-standalone {
        height: auto;
        min-height: 100vh;
        @extend .container-fluid;

        .logo {
            display: block;
            height: 100px;
            margin: $grid-gutter-width auto;
            width: 240px;
        }
        .panel {
            margin: 0 auto $grid-gutter-width auto;
            max-width: 360px;
        }
    }
}

.surface {
    display: block;
}
