.sidebar {
    background: $panel-bg;
    border-right: 1px solid $brand-info;
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
    transform: translateX(-260px);
    transition: ease .2s;
    width: 320px;
    z-index: 9999;

    &.active {
        transform: translateX(0);
    }
    &-content {
        height: 100%;
        position: relative;
        width: 260px;
    }
    &-nav {
        border-left: 1px solid $panel-inner-border;
        height: 100%;
        padding: 4px;
        width: 59px;

        .nav > li {
            margin: 0;

            > a {
                color: $brand-info;
                font-size: 32px;
                height: 52px;
                line-height: 52px;
                padding: 0;
                text-align: center;
                transition: ease .2s;

                &:focus,
                &:hover {
                    color: #fff;
                    text-shadow: 0 0 15px rgba(255, 255, 255, .6);
                }
            }
            &.active > a {
                &,
                &:hover,
                &:focus {
                    background: none;
                    color: #fff;
                    text-shadow: 0 0 15px rgba(255, 255, 255, .6);
                }
            }
        }
    }
    &-block {
        border-bottom: 1px solid $panel-inner-border;
        padding: 10px;

        .progress {
            height: 5px;
            margin-bottom: 0;

            &-unit {
                margin-bottom: $grid-gutter-width / 3;
            }
        }
    }
}
