@import '~sweetalert2/src/sweetalert2';

button.styled {
    transition: ease .2s;
}

.swal2-icon {
    &.swal2-error {
        border-color: $brand-danger;

        .line {
            background-color: $brand-danger;
        }
    }

    &.swal2-warning {
        color: $brand-warning;
        border-color: $brand-warning;
    }

    &.swal2-info {
        color: $brand-info;
        border-color: $brand-info;
    }

    &.swal2-question {
        color: $brand-primary;
        border-color: $brand-primary;
    }

    &.swal2-success {
        border-color: $brand-success;

        .placeholder {
            border-color: rgba($brand-success, .2);
        }

        .line {
            background-color: $brand-success;
        }
    }
}
