.attribute {
    background: $attribute-bg;
    margin: 0 0 $grid-gutter-width / 3 0;
    overflow: hidden;
    text-align: center;

    h4 {
        color: #fff;
    }
    a {
        text-decoration: none;
        transition: ease .2s;
    }
    &-row {
        @include make-row(10px);

        &.separator {
            margin-bottom: $grid-gutter-width;
        }
        .sidebar &:last-child .attribute {
            margin-bottom: 0;
        }
        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
