@import url(//fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=latin,latin-ext);

[v-cloak] {
    display: none;
}

body {
    min-height: 320px;
    min-width: 320px;
}

.btn {
    transition: ease .2s;
}

.control-label.required:after {
    color: $brand-info;
    content: ' *';
}

.panel {
    .panel-heading {
        border-color: $brand-primary;

        i {
            margin-right: $grid-gutter-width / 3;
        }
    }
    .panel-footer {
        p:last-child {
            margin-bottom: 0;
        }
        a {
            transition: ease .2s;
        }
    }
}

.container-site {
    background: url('../../images/starmap-bg.png?v=#{$cache-buster}') center top no-repeat;
    height: 100vh;
    margin: 0 auto;
    max-height: 1080px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;

    &-login {
        @extend .container-fluid;

        .logo {
            display: block;
            height: 100px;
            margin: $grid-gutter-width auto;
            width: 240px;
        }
        .panel {
            margin: 0 auto;
            max-width: 360px;
        }
    }
}

.sidebar {
    background: $panel-bg;
    border-right: 1px solid $brand-info;
    bottom: 0;
    position: absolute;
    top: 0;
    transform: translateX(-260px);
    transition: ease .2s;
    width: 320px;
    z-index: 9999;
    @include clearfix;

    &.active {
        transform: translateX(0);
    }
    &-content {
        float: left;
        width: 260px;
    }
    &-nav {
        border-left: 1px solid $panel-inner-border;
        float: right;
        height: 100%;
        padding: 4px;
        width: 59px;

        .nav > li {
            margin: 0;

            > a {
                color: $brand-info;
                font-size: 32px;
                height: 52px;
                line-height: 52px;
                padding: 0;
                text-align: center;
                transition: ease .2s;

                &:focus,
                &:hover {
                    color: #fff;
                    text-shadow: 0 0 15px rgba(255, 255, 255, .6);
                }
            }
        }
    }
}

.player {
    &-info,
    &-energy {
        background: $panel-bg;
        border: 1px solid $brand-info;
        position: absolute;
        right: $grid-gutter-width / 3;
        width: 202px;
        z-index: 999;
    }
    &-info {
        height: 82px;
        top: $grid-gutter-width / 3;
        @include clearfix;
    }
    &-energy {
        border-color: $brand-warning;
        color: #fff;
        height: 32px;
        line-height: 32px;
        text-align: center;
        text-shadow: 0 0 15px rgba(255, 255, 255, .6);
        top: 92px + $grid-gutter-width / 3;
    }
    &-left {
        float: left;
        height: 100%;
        width: 50px;
    }
    &-right {
        float: right;
        height: 100%;
        width: 150px;
    }
    &-avatar {
        height: 50px;
        width: 50px;
    }
    &-level {
        color: #fff;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 0 15px rgba(255, 255, 255, .6);
    }
    &-nav {
        border-bottom: 1px solid $panel-inner-border;
        padding: 4px;

        .nav > li {
            display: table-cell;
            margin: 0;
            width: 1%;

            > a {
                color: $brand-info;
                font-size: 20px;
                height: 41px;
                line-height: 41px;
                margin: 0;
                padding: 0;
                text-align: center;
                transition: ease .2s;

                &:focus,
                &:hover {
                    color: #fff;
                    text-shadow: 0 0 15px rgba(255, 255, 255, .6);
                }
            }
        }
    }
    &-progress {
        height: 30px;
        padding: 12px 0;

        .progress {
            height: 5px;
            margin: 0 8px;
        }
    }
}

.starmap {
    background: rgba(0, 0, 0, 0);
    height: 100%;

    .leaflet-div-icon {
        background: none;
        border: none;
        border-radius: 50%;

        &:after {
            background: radial-gradient(
                ellipse at center,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 40%,
                rgba(255, 255, 255, 0.6) 45%,
                rgba(0, 0, 0, 0) 65%,
                rgba(0, 0, 0, 0) 100%
            );
            border-radius: 50%;
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: ease .2s;
        }
        &:hover:after {
            opacity: 1;
        }
        &.current {
            border: 2px dotted rgba($brand-info, 0.7);
        }
        &.friendly {
            border: 2px dotted rgba($brand-success, 0.7);
        }
        &.capital {
            border: 2px dotted rgba($brand-warning, 0.7);
        }
        &.hostile {
            border: 2px dotted rgba($brand-danger, 0.7);
        }
        span {
            bottom: -($grid-gutter-width / 3 * 2);
            color: #fff;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
    .leaflet-left .leaflet-bar {
        margin-left: 60px + $grid-gutter-width / 3;
    }
    .leaflet-bar {
        border: 1px solid $brand-info;
        border-radius: 0;
        box-shadow: none;

        a {
            border-bottom: 1px solid $panel-inner-border;
            background: $panel-bg;
            color: $brand-info;
            height: 30px;
            line-height: 30px;
            transition: ease .2s;
            width: 30px;

            &:hover {
                color: #fff;
                text-shadow: 0 0 15px rgba(255, 255, 255, .6);
            }
            &:first-child {
                border-radius: 0;
            }
            &:last-child {
                border-bottom: none;
                border-radius: 0;
            }
        }
    }
    .leaflet-control-zoom a {
        height: 40px;
        line-height: 40px;
    }
    .leaflet-control-bookmark {
        font-size: 14px;

        i {
            vertical-align: middle;
        }
    }
}
