<div class="modal-body">
    <div class="row text-center">
        <div class="col-sm-4">
            <span class="item item-sm" :class="planet.resource_id | item('planet')">
                {{ vue('planet.display_name') }}
            </span>
        </div>
        <div class="col-sm-4">
            <h4 class="highlight-success" :class="{'highlight-warning': type < 3}">
                <i class="icon-arrow-right"></i>
            </h4>
            <h4>
                {{ vue('travelTime | timer') }}
            </h4>
        </div>
        <div class="col-sm-4">
            <span class="item item-sm" :class="selected.resource_id | item('planet')">
                {{ vue('selected.name') }}
            </span>
        </div>
    </div>
</div>
