.player {
    &-info,
    &-energy {
        background: $panel-bg;
        border: 1px solid $brand-info;
        position: absolute;
        right: $grid-gutter-width / 3;
        width: 202px;
        z-index: 999;
    }
    &-info {
        display: flex;
        height: 82px;
        top: $grid-gutter-width / 3;
    }
    &-energy {
        border-color: $brand-info;
        color: $brand-warning;
        height: 32px;
        line-height: 32px;
        padding: 0 $grid-gutter-width / 2;
        text-align: right;
        top: 92px + $grid-gutter-width / 3;
        @include clearfix;

        i {
            float: left;
            margin-top: $grid-gutter-width / 3;
        }
    }
    &-left {
        height: 100%;
        width: 50px;
    }
    &-right {
        height: 100%;
        width: 150px;
    }
    &-avatar {
        height: 50px;
        width: 50px;
    }
    &-level {
        color: #fff;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    &-nav {
        border-bottom: 1px solid $panel-inner-border;
        padding: 4px;

        .nav > li {
            display: table-cell;
            margin: 0;
            width: 1%;

            > a {
                color: $brand-info;
                font-size: 20px;
                height: 41px;
                line-height: 41px;
                margin: 0;
                padding: 0;
                text-align: center;
                transition: ease .2s;

                &:focus,
                &:hover {
                    color: #fff;
                    text-shadow: 0 0 15px rgba(255, 255, 255, .6);
                }
            }
            &.unread .notification {
                display: block;
            }
            .notification {
                background: $brand-danger;
                border-radius: 2px;
                color: #fff;
                display: none;
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                padding: 0 4px 2px;
                position: absolute;
                right: 6px;
                top: 6px;
            }
        }
    }
    &-progress {
        height: 30px;
        padding: 12px 0;

        .progress {
            height: 5px;
            margin: 0 8px;
        }
    }
}
