.starmap {
    background: rgba(0, 0, 0, 0);
    height: 100%;

    .leaflet-icon-object {
        background: none;
        border: none;
        border-radius: 50%;

        &:after {
            background: radial-gradient(
                ellipse at center,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 40%,
                rgba(255, 255, 255, 0.6) 45%,
                rgba(0, 0, 0, 0) 65%,
                rgba(0, 0, 0, 0) 100%
            );
            border-radius: 50%;
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: ease .2s;
        }
        &:hover:after {
            opacity: 1;
        }
        &.current {
            border: 2px dotted rgba($brand-info, 0.7);
        }
        &.friendly {
            border: 2px dotted rgba($brand-success, 0.7);
        }
        &.capital {
            border: 2px dotted rgba($brand-warning, 0.7);
        }
        &.hostile {
            border: 2px dotted rgba($brand-danger, 0.7);
        }
        span {
            bottom: 0;
            color: #fff;
            left: 50%;
            position: absolute;
            text-align: center;
            transform: translateX(-50%) translateY(100%);
            width: 128px;
        }
    }
    .leaflet-icon-movement {
        border: none;
        border-radius: 50%;

        &.incoming {
            background: $brand-success;

            &-attack {
                background: $brand-danger;
            }
        }
        &.outgoing {
            background: $brand-success;

            &-attack {
                background: $brand-warning;
            }
        }
        &.size-32 i {
            font-size: 22px;
        }
        i {
            color: #fff;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .leaflet-left .leaflet-bar {
        margin-left: 60px + $grid-gutter-width / 3;
    }
    .leaflet-bar {
        border: 1px solid $brand-info;
        border-radius: 0;
        box-shadow: none;

        a {
            border-bottom: 1px solid $panel-inner-border;
            background: $panel-bg;
            color: $brand-info;
            height: 30px;
            line-height: 30px;
            transition: ease .2s;
            width: 30px;

            &:hover {
                color: #fff;
                text-shadow: 0 0 15px rgba(255, 255, 255, .6);
            }
            &:first-child {
                border-radius: 0;
            }
            &:last-child {
                border-bottom: none;
                border-radius: 0;
            }
        }
    }
    .leaflet-control-zoom a {
        height: 40px;
        line-height: 40px;
    }
    .leaflet-control-bookmark {
        font-size: 14px;

        i {
            vertical-align: middle;
        }
    }
    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
    .leaflet-movement {
        animation: dash 1s linear infinite;
        stroke-dasharray: 1, 5;
        stroke-dashoffset: 6;
        stroke-width: 2;

        &.incoming {
            stroke: $brand-success;

            &-attack {
                stroke: $brand-danger;
            }
        }
        &.outgoing {
            stroke: $brand-success;

            &-attack {
                stroke: $brand-warning;
            }
        }
    }
}
