<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#sidebar-accordion" href="#sidebar-accordion-{{ name }}">
                {% block title %}{% endblock %}
            </a>
        </h4>
    </div>
    <div id="sidebar-accordion-{{ name }}" class="panel-collapse collapse {{ is_active ? 'in' }}">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                {% block nav %}{% endblock %}
            </ul>
        </div>
    </div>
</div>
